
<div class="example">CA 135-506</div>
<form action="/reg_number" method="POST">
    <div>
        <label for="Header">Registration number</label>
         <input type="text" name="textNumItem"  placeholder="enter registration number" class="regTextElem">
         <button class="addBtn" type="submit" name="addbutton" >Add</button>
    </div>

{{#if messages.info}}
<div class="entry">
    <h1> {{messages.info}}</h1>
</div>
{{/if}}

    <div class = "regDiv">
    <ul class="regPlates">{{#each name}}
      <li>CA 135-506{{display}}</li>
      {{/each}}</ul>
     </div>

    <div class="error"></div>
    
    
      <select id="dropDown">
        <option value="All" selected="selected">Show All</option>
        <option value="CA">Cape Town</option>
        <option value="CY">Bellville</option>
        <option value="CL">Stellenbosch</option>
      </select>
</form>

<form action="/reset" method="POST">
      <div>
        <button class="resetBtn" type="submit" name="resetbutton" >Reset</button>
      </div>    
</form>

<script src="registration.js" charset="utf-8"></script>
</html>

